<div class="top-bar">
    <!-- Logo -->
    <div class="logo">
        <img
            src="./assets/icons/logo.svg"
            alt="grocerymart"
            class="logo__img"
        />
        <h1 class="logo__title">grocerymart</h1>
    </div>

    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li>
                <a href="" class="navbar__link">
                    Departments
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt=""
                        class="navbar__arrow"
                    />
                </a>
            </li>
            <li>
                <a href="" class="navbar__link">
                    Grocery
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt=""
                        class="navbar__arrow"
                    />
                </a>
            </li>
            <li>
                <a href="" class="navbar__link">
                    Beauty
                    <img
                        src="./assets/icons/arrow-down.svg"
                        alt=""
                        class="navbar__arrow"
                    />
                </a>
            </li>
        </ul>
    </nav>
</div>
