<div class="container">
    <div class="top-bar">
        <!-- Logo -->
        <div class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="logo__img"
            />
            <h1 class="logo__title">grocerymart</h1>
        </div>

        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="" class="navbar__link">
                        Departments
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">
                        Grocery
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow"
                        />
                    </a>
                </li>
                <li>
                    <a href="" class="navbar__link">
                        Beauty
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow"
                        />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt=""
                        class="top-act__icon"
                    />
                </button>
            </div>

            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt=""
                        class="top-act__icon"
                    />
                    <span class="top-act__title">03</span>
                </button>

                <div class="top-act__separate"></div>

                <button class="top-act__btn">
                    <img
                        src="./assets/icons/buy.svg"
                        alt=""
                        class="top-act__icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>

            <div class="top-act__user">
                <img
                    src="./assets/img/avatar.jpg"
                    alt=""
                    class="top-act__avatar"
                />
            </div>
        </div>
    </div>
</div>
