@use "../abstracts";

.auth {
    display: flex;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        background: var(--auth-intro-bg);

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;
        }

        &-img {
            width: min(424px, 100%);
        }

        &-text {
            max-width: 412px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            color: var(--auth-intro-text-color);

            @include abstracts.screen(md) {
                font-size: 1.5rem;
            }
        }
    }

    &__content {
        background: var(--auth-content-bg);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }

        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;

            @include abstracts.screen(md) {
                padding: 32px 0;
            }
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--auth-heading-color);

        @include abstracts.screen(md) {
            margin-top: 40px;
            font-size: 2.2rem;
        }
    }

    &__desc {
        margin-top: 10px;
        padding: 0 20px;
        color: #9e9da8;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__message {
        margin-top: 30px;
    }

    &__form {
        width: 100%;
        margin-top: 30px;

        &-forgot {
            margin-top: 10px;
        }

        @include abstracts.screen(md) {
            margin-top: 0;
        }
    }

    &__link {
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;

        @include abstracts.screen(md) {
            margin-top: 40px;
            gap: 20px;
        }
    }

    &__btn {
        width: 100%;
    }

    &__text {
        margin-top: 108px;
        color: #9e9da8;
        font-size: 1.8rem;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            margin-top: 40px;
            font-size: 1.6rem;
        }

        &-link {
            font-size: inherit;
        }
    }
}
