@use "../abstracts";

.checkout-page {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding-bottom: 50px;

    &__breadcrumbs {
        background: #fff;
    }
}

.checkout-container {
    margin-top: 30px;

    @include abstracts.screen(md) {
        margin-top: 20px;
    }
}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    &__list {
        margin-top: -30px;
    }

    &__bottom {
        margin-top: 30px;
    }

    &__row,
    &__continue-link {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 10px;

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    &__separate {
        margin: 30px 0;
        height: 1px;
        background: #d2d1d6;
    }

    &__continue {
        height: 100%;
        display: flex;
        align-items: flex-end;

        &-link {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-icon {
            rotate: 90deg;
            transition: translate 0.3s;
        }

        &-link:hover &-icon {
            translate: -5px;
        }
    }

    &__sub-label {
        font-weight: 400;
    }

    &__next-btn {
        margin-top: 30px;
    }
}

.cart-info + .cart-info {
    margin-top: 30px;
}

.cart-item {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #d2d1d6;

    &__thumb {
        width: 172px;
        height: 172px;
        object-fit: contain;
    }

    &__content {
        flex: 1;
        display: flex;
        align-self: flex-start;

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__price-wrap {
        margin: 16px 0;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__status {
        color: #67b044;
    }

    &__ctrl {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;
        min-height: 44px;
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        text-align: right;
    }

    &__ctrl-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;

        &:first-child {
            margin-right: 10px;
        }
    }
}

.gift-item {
    display: flex;
    gap: 20px;

    &__icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 76px;
        height: 76px;
        border-radius: 14px;

        background: rgb(118, 68, 225, 0.1);
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}
