.profile {
    margin-bottom: 50px;

    &-container {
        margin-top: 30px;
    }

    &__sidebar {
        padding-bottom: 30px;
        border-radius: 20px;
        background: var(--profile-sidebar-bg);
        box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow);
        overflow: hidden;
    }

    // User
    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px 20px;
        background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
            url("../img/profile/cover.png") no-repeat center / cover;
        box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow);
        color: #fff;

        &__avatar {
            width: 121px;
            height: 121px;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
            border: 5px solid rgba(255, 255, 255, 0.2);
            background: #ccc content-box;
        }

        &__name {
            margin-top: 15px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 144.444%;
        }

        &__desc {
            margin-top: 2px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
        }
    }

    // Menu
    &-menu {
        margin-top: 30px;
        padding: 0 30px;

        &__title {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &__list {
            margin-top: 11px;
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 32px;
            padding: 0 4px;
            border-radius: 5px;

            font-size: 1.5rem;
            line-height: 146.667%;
            transition: background-color 0.2s;

            &:hover {
                background: var(--profile-sidebar-link-hover);
            }
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 100%;
        }
    }

    &__desc {
        margin-bottom: 16px;
    }
}
// End .profile
