@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);

    @include abstracts.breakpoint(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    position: relative;
    padding: 30px 0;

    @include abstracts.breakpoint(lg) {
        padding: 20px 0;
    }

    @include abstracts.breakpoint(md) {
        justify-content: space-between;
        padding: 16px 0;
    }

    &__more {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
        }
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 28px;
    }

    @include abstracts.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        margin-left: 0;
        padding: 20px 0;
        background: #fff;

        translate: -100%;
        transition: translate 0.5s;

        &.show {
            translate: 0;
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    &__close-btn {
        display: none;

        @include abstracts.breakpoint(lg) {
            display: block;
            padding: 10px 40px;
        }
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;

        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;

            transition: opacity, visibility;
            transition-duration: 0.5s;

            background: rgba($color: #000000, $alpha: 0.4);
        }
    }

    &__list {
        @extend %flexItemsCenter;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoint(lg) {
            &:hover .dropdown {
                display: none;
            }

            width: 100%;
        }
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;

            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 20px;
    margin-left: auto;

    @include abstracts.breakpoint(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.breakpoint(md) {
            display: none;
        }
    }

    &__group--single {
        @include abstracts.breakpoint(lg) {
            display: none;
        }
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }
}
