%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: var(--header-bg-color);
}

.top-bar {
    @extend %flexItemsCenter;
    padding: 30px 0;
}

.navbar {
    margin-left: 144px;
    margin-right: auto;

    &__list {
        @extend %flexItemsCenter;
        gap: 30px;
    }

    &__link {
        @extend %flexItemsCenter;
        gap: 6px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemsCenter;
    gap: 20px;

    &__group {
        @extend %flexItemsCenter;

        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: var(--top-act-group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        @extend %flexItemsCenter;
        gap: 10px;
        padding: 13px 20px;
        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-group-separate);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 8px;
        cursor: pointer;
    }
}
