@use "../abstracts";

.cate-item {
    display: flex;
    gap: 20px;

    height: 100%;
    padding: 20px;
    border-radius: 16px;
    background: var(--cate-item-bg);

    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        display: block;
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 8px;
        background: var(--cate-item-thumb-bg);

        @include abstracts.screen(xl) {
            width: 100%;
            height: 150px;
            margin: 0 auto;
        }

        @include abstracts.screen(md) {
            width: 88px;
            height: 88px;
            margin: 0;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;

        @include abstracts.screen(xxl) {
            padding-right: 0;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        color: var(--cate-item-title-color);

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        margin-top: 6px;
        font-size: 1.6rem;
        line-height: 150%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
}
