.dropdown {
    position: absolute;
    left: 0;

    width: min(1240px, 100%);
    padding-top: 54px;
    // display: none;

    &__inner {
        position: relative;

        max-height: min(582px, 100vh - 158px);
        padding: 30px;

        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color);
        }
    }
}

.top-menu {
    height: 100%;

    &__main {
        width: 292px;
        height: 100%;
        border-right: 1px solid var(--top-menu-border-color);
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    &__icon {
        position: relative;

        flex-shrink: 0;
        width: 36px;
        height: 36px;
    }

    &__content {
        flex: 1;
    }

    &__icon-1 {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon-2 {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 24px;
        height: 24px;
        object-fit: cover;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__list {
        margin-top: 19px;
    }

    &__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        line-height: 142.857%;

        &:hover {
            color: #0071dc;
            font-weight: 500;
        }
    }
}
