@use "../abstracts";

.favourite-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__thumb {
        width: 110px;

        @include abstracts.screen(lg) {
            width: 80px;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 10px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__price {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
}
