.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    display: none;

    position: absolute;
    right: 0;
    top: 50px;

    padding: 30px;
    border-radius: 20px;

    background: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__form {
        margin-top: 30px;

        &-label {
            display: block;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;

            &--small {
                margin-bottom: 10px;
                font-size: 1.4rem;
                line-height: 142.857%;
            }
        }

        &-group {
            margin-top: 20px;

            &--inline {
                display: flex;
                gap: 30px;
            }
        }

        &-slider {
            position: relative;

            width: 100%;
            height: 2px;
            background: #d2d1d6;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #ffb700;

                background: var(--filter-form-bg);
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-input {
            width: 121px;
            height: 36px;
            padding: 0 12px;

            border-radius: 6px;
            border: 1px solid #d2d1d6;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }
    }
    // End form

    &__row {
        display: flex;
        flex: 1;
    }
}
