@use "../abstracts";

$error-color: #ed4337;

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__row {
        display: flex;
        gap: 30px;

        @include abstracts.screen(md) {
            gap: 20px;
        }

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 0;
        }

        > * {
            flex: 1;
        }
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__text-area,
    &__text-input {
        display: flex;
        align-items: center;

        padding: 0 12px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        &:focus-within {
            border-color: #77dae6;
        }
    }

    &__text-area {
        height: 100px;
        padding: 12px;

        &-input {
            resize: none;
        }
    }

    &__text-input {
        position: relative;
        height: 48px;

        &--small {
            height: 42px;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input,
    &__text-area-input {
        flex: 1;
        width: 100%;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__input {
        &-icon {
            margin-left: 12px;
        }
    }

    &__select-dialog {
        position: absolute;
        bottom: 44px;
        left: 10px;
        z-index: 1;

        display: flex;
        flex-direction: column;

        opacity: 0;
        visibility: hidden;
        translate: 0 8px;

        transition: opacity, visibility, translate;
        transition-duration: 0.2s;

        min-width: 230px;
        max-height: 310px;
        padding-bottom: 10px;
        border: 1px solid #d2d1d6;
        border-radius: 10px;
        box-shadow: 0 0 5px var(--form-select-dialog-shadow);

        background: var(--form-select-dialog-bg);

        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }

        @include abstracts.screen(sm) {
            position: fixed;
            max-width: initial;
            max-height: initial;
            inset: 0;
            border-radius: 0;
        }
    }

    &__dialog-heading {
        padding: 20px;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
    }

    &__close-dialog {
        font-size: 3rem;
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 18px;
        opacity: 0.8;
    }

    &__search {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        height: 38px;
        padding: 0 20px;
        border-bottom: 1px solid #d2d1d6;

        &-input {
            flex: 1;
            height: 100%;
            font-size: 1.6rem;
        }

        &-icon {
            width: 16px;
            margin-left: 10px;
        }

        @include abstracts.screen(lg) {
            height: 48px;

            &-icon {
                width: 20px;
            }
        }

        @include abstracts.screen(sm) {
            padding: 0 14px;
            border: 1px solid #d2d1d6;
            margin: 10px 30px 0;
            border-radius: 10px;
        }
    }

    &__options-list {
        flex: 1;
        margin-top: 10px;
        overflow-y: auto;
        overscroll-behavior: contain;

        @supports (-webkit-touch-callout: none) {
            padding-bottom: 300px;
        }
    }

    &__option {
        padding: 8px 20px;
        font-size: 1.4rem;

        &--current {
            font-weight: 500;
            background: rgba($color: #ffb700, $alpha: 0.6);
        }

        &:not(&--current):hover {
            background: var(--form-option-hover-bg);
            cursor: pointer;
        }

        @include abstracts.screen(lg) {
            padding: 18px 30px;
            font-size: 1.6rem;
        }
    }

    &__error {
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: $error-color;
        display: none;
    }

    &__input-icon-error {
        display: none;
        margin-left: 12px;
        animation: shake 0.5s;
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;

        display: flex;
        align-items: center;
        user-select: none;

        &-label {
            margin-left: 29px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1px solid #9e9da8;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: #ffb700;
            background: #ffb700;
        }

        &::after {
            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
            left: 2px;
            top: 4px;
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--medium {
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;

        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }

    &__tag {
        padding: 6px 12px;
        border-radius: 6px;

        color: #9e9da8;
        background: var(--form-tag-bg);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;

        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
}
