.search-bar {
    align-items: center;
    height: 50px;
    border-radius: 20px;
    background: var(--search-bar-bg);

    &__input {
        flex: 1;
        height: 100%;
        padding-left: 15px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 142.857%;

        &::placeholder {
            color: #9e9da8;
            font-weight: 400;
        }
    }

    &__submit {
        height: 100%;
        padding: 0 15px;
    }
}
