@use "../abstracts";

.slideshow {
    position: relative;

    &__inner {
        display: flex;
        overflow: hidden;
    }

    &__item {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        padding-top: 26%;

        @include abstracts.screen(md) {
            padding-top: 50%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__page {
        --color: #fff;

        position: absolute;
        bottom: 15%;
        left: 5.2%;
        width: 12.8%;
        display: flex;
        align-items: center;
        column-gap: 24px;
    }

    &__num {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: var(--color);

        @include abstracts.screen(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 4px;
        flex-shrink: 0;
        background: var(--color);

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;

            width: 14px;
            height: 14px;
            border: 4px solid var(--color);
            border-radius: 50%;

            @include abstracts.screen(md) {
                border-width: 3px;
            }
        }

        &::before {
            left: 0;
            translate: -90% -50%;
        }

        &::after {
            right: 0;
            translate: 90% -50%;
        }
    }
}
